/* Color vars */

:root {
    --o-black: #0B0C0E;
    --d-gray: #3C3D3E;
    --l-gray: #C7D0D9;
    --o-white: #F4F7FA;
}

/* --- */

body {
    background-color: var(--o-white);
    font-family: 'Neue Montreal', sans-serif;
    overflow-x: hidden;
}

a {
    color: var(--o-black);
    text-decoration: none;
    position: relative;
}

a:hover {
    color: var(--o-black);
    text-decoration: none;
}

.head-display {
    font-size: 150px;
    font-weight: 500;
}

h1 {
    font-size: 96px;
    font-weight: 500;
}

h2 {
    font-size: 60px;
    font-weight: 500;
}

h3 {
    font-size: 40px;
    font-weight: 500;
    margin: 0px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

p {
    font-size: 26px;
    margin: 0px;
}

p.medium {
    font-size: 16px;
}

p.small {
    font-size: 14px;
    font-style: italic;
}

.wrapper {
    max-width: 1280px;
    display: grid;
    margin: auto;
    padding: 0px 15px;
}

.wrapper__row {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 120px;
}

/* Main page */
.main-page {
    background-color: var(--l-gray);
    position: relative;
    margin-bottom: 160px;
}

.main-page__header {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
    position: fixed;
    right: 14px;
    top: 6px;
    width: 65px;
    height: 65px;
    border-radius: 100px;   
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
}

.burger:hover {
    cursor: pointer;
}

.burger.opened {
    background-color: var(--o-white);
}

.burger .line {
    position: absolute;
    content: "";
    background-color: var(--o-black);
    width: 45%;
    height: 1px;
    right: 17px;
    bottom: 47%;
    transition: 0.3s all ease-in;
}

.burger .line:nth-child(1) {
    top: 23px;
}

.burger .line:nth-child(3) {
    bottom: 21px;
}

.burger.opened .line:nth-child(2) {
    display: none;
    opacity: 0%;
}

.burger.opened .line:nth-child(1) {
    top: 33px;
    transform: rotate(45deg);
}

.burger.opened .line:nth-child(3) {
    bottom: 31px;
    transform: rotate(-45deg);
}

.mobile-menu {
    transition: 0.3s all ease-in;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    padding-left: 90px;
    left: 100%;
}

.mobile-menu.toggle {
    display: block;
    left: 0%;
}

.mobile-menu p {
    color: var(--o-white);
}

.mobile-menu ul {
    list-style: none;
    padding: 0px;
    margin-top: 40px;
}

.mobile-menu ul li {
    margin: 25px 0px;
}

.mobile-menu ul li a {
    color: var(--o-white);
    font-size: 42px;
}

.mobile-menu ul li a:active {
    color: var(--d-gray)
}

.mobile-menu ul li a:focus {
    color: var(--d-gray)
}

.main-page__header__logo {
    font-weight: 500;
    font-size: 18px;
}
.main-page__header__logo:hover {
    font-weight: 500;
    font-size: 18px;
}

.main-page__header__nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.main-page__header__nav li {
    margin-right: 40px;
}

.main-page__header__nav li:last-child {
    margin-right: 0px;
}

header a:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: var(--o-black);
    height: 1px;
    width: 100%;
    animation: bttm-run 0.4s ease-out;
}

@keyframes bttm-run {
    from {
        width: 0%;
    } to {
        width: 100%;
    }
}

.main-page__pic {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.marquee-wrapper {
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
}

.marquee-wrapper__text {
    color: var(--o-white);
    white-space: nowrap;
    animation: mrqrun 10s linear infinite;
}

.marquee-wrapper__text::after {
    content: 'Front-End Developer - Imaev Yanish';
    color: var(--o-white);
}

@keyframes mrqrun {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-50.4%);
    }
}

.skills__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding: 0px;
}

.skills__list li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    margin: 15px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    filter: grayscale(1);
}

.skills__list li img {
    width: 150px;
    height: auto;
}

.skills__list li:hover {
    cursor: pointer;
    animation-name: grayskale;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    filter: grayscale(0);
}

@keyframes grayskale {
    from {
        filter: grayscale(1);
    } to {
        filter: grayscale(0);
    }
}

.exp__list {
    padding: 0px;
}

.exp__item {
    display: grid;
    grid-template-columns: 10% 80%;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--d-gray);
}

.exp__item__dates {
    font-style: italic;
    width: 15%;
}

.exp__item__title {
    margin-bottom: 10px;
}

pre {
    background-color: var(--d-gray);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px var(--d-gray);
}

footer {
    background-color: var(--o-black);
    color: #fff;
    padding-top: 80px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.btn-white {
    padding: 24px 42px;
    border-radius: 170px;
    background-color: #fff;
    color: var(--o-black);
    font-weight: 600;
}

.btn-white:hover {
    background-color: var(--d-gray);
    color: #fff;
    cursor: pointer;
}

footer nav {
    float: right;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 32px;
}

footer nav a {
    color: #fff;
}

footer nav a:hover {
    color: var(--d-gray)
}

/*--- Mobile styles ---*/

@media (max-width: 760px) {

    html, body {
        overflow-x: hidden;
    }

    .head-display {
        font-size: 85px;
    }

    h3 {
        font-size: 36px;
        margin-bottom: 12px;
    }

    p {
        font-size: 22px;
        line-height: 1.3;
    }

    .wrapper__row {
        grid-template-columns: 100%;
    }

    .burger {
        display: flex;
    }

    .main-page__pic {
        height: 650px;
    }

    .main-page__header__nav {
        display: none;
    }

    .marquee-wrapper {
        bottom: 15%;
    }

    pre {
        overflow-x: auto;
        width: 90vw;
    }

}

@media (max-width: 520px) {

    .head-display {
        font-size: 52px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
    }

    .wrapper__row {
        margin-bottom: 90px;
    }

    .main-page__pic {
        height: 520px;
    }

    .burger {
        width: 60px;
        height: 60px;
    }

    .burger.opened .line:nth-child(1) {
        top: 30px;
    }

    .burger.opened .line:nth-child(3) {
        bottom: 29px;
    }

    .mobile-menu {
        padding-top: 6vh;
        padding-left: 60px;
    }

    .mobile-menu ul li a {
        font-size: 36px;
    }

    .main-page {
        margin-bottom: 60px;
    }

    .skills__list li {
        width: 40%;
    }

    .skills__list li img {
        width: 140px;
    }

    .exp__item {
        display: grid;
        grid-template-columns: 15% 70%;
    }

    pre {
        width: 78vw;
    }

}