@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/Aleo-Regular.eot');
    src: local('Aleo Regular'), local('Aleo-Regular'),
        url('../fonts/Aleo/Aleo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aleo/Aleo-Regular.woff2') format('woff2'),
        url('../fonts/Aleo/Aleo-Regular.woff') format('woff'),
        url('../fonts/Aleo/Aleo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/Aleo-Italic.eot');
    src: local('Aleo Italic'), local('Aleo-Italic'),
        url('../fonts/Aleo/Aleo-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aleo/Aleo-Italic.woff2') format('woff2'),
        url('../fonts/Aleo/Aleo-Italic.woff') format('woff'),
        url('../fonts/Aleo/Aleo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Bold.eot');
    src: local('Aleo Bold'), local('Aleo-Bold'),
        url('../fonts/Aleo/Aleo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aleo/Aleo-Bold.woff2') format('woff2'),
        url('../fonts/Aleo/Aleo-Bold.woff') format('woff'),
        url('../fonts/Aleo/Aleo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo/Aleo-BoldItalic.eot');
    src: local('Aleo Bold Italic'), local('Aleo-BoldItalic'),
        url('../fonts/Aleo/Aleo-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aleo/Aleo-BoldItalic.woff2') format('woff2'),
        url('../fonts/Aleo/Aleo-BoldItalic.woff') format('woff'),
        url('../fonts/Aleo/Aleo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-LightItalic.eot');
    src: local('Aleo Light Italic'), local('Aleo-LightItalic'),
        url('../fonts/Aleo/Aleo-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aleo/Aleo-LightItalic.woff2') format('woff2'),
        url('../fonts/Aleo/Aleo-LightItalic.woff') format('woff'),
        url('../fonts/Aleo/Aleo-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Light.eot');
    src: local('Aleo Light'), local('Aleo-Light'),
        url('../fonts/Aleo/Aleo-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aleo/Aleo-Light.woff2') format('woff2'),
        url('../fonts/Aleo/Aleo-Light.woff') format('woff'),
        url('../fonts/Aleo/Aleo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Magra';
    src: url('../fonts/Magra/Magra-Bold.eot');
    src: local('Magra Bold'), local('Magra-Bold'),
        url('../fonts/Magra/Magra-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Magra/Magra-Bold.woff2') format('woff2'),
        url('../fonts/Magra/Magra-Bold.woff') format('woff'),
        url('../fonts/Magra/Magra-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Magra';
    src: url('../fonts/Magra/Magra.eot');
    src: local('Magra'),
        url('../fonts/Magra/Magra.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Magra/Magra.woff2') format('woff2'),
        url('../fonts/Magra/Magra.woff') format('woff'),
        url('../fonts/Magra/Magra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Red Hat Text';
    src: url('../fonts/RedHatText/RedHatText-Medium.eot');
    src: local('Red Hat Text Medium'), local('RedHatText-Medium'),
        url('../fonts/RedHatText/RedHatText-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RedHatText/RedHatText-Medium.woff2') format('woff2'),
        url('../fonts/RedHatText/RedHatText-Medium.woff') format('woff'),
        url('../fonts/RedHatText/RedHatText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('../fonts/RedHatText/RedHatText-MediumItalic.eot');
    src: local('Red Hat Text Medium It'), local('RedHatText-MediumItalic'),
        url('../fonts/RedHatText/RedHatText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RedHatText/RedHatText-MediumItalic.woff2') format('woff2'),
        url('../fonts/RedHatText/RedHatText-MediumItalic.woff') format('woff'),
        url('../fonts/RedHatText/RedHatText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('../fonts/RedHatText/RedHatText-Bold.eot');
    src: local('Red Hat Text Bold'), local('RedHatText-Bold'),
        url('../fonts/RedHatText/RedHatText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RedHatText/RedHatText-Bold.woff2') format('woff2'),
        url('../fonts/RedHatText/RedHatText-Bold.woff') format('woff'),
        url('../fonts/RedHatText/RedHatText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('../fonts/RedHatText/RedHatText-BoldItalic.eot');
    src: local('Red Hat Text Bold It'), local('RedHatText-BoldItalic'),
        url('../fonts/RedHatText/RedHatText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RedHatText/RedHatText-BoldItalic.woff2') format('woff2'),
        url('../fonts/RedHatText/RedHatText-BoldItalic.woff') format('woff'),
        url('../fonts/RedHatText/RedHatText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('../fonts/RedHatText/RedHatText-Italic.eot');
    src: local('Red Hat Text It'), local('RedHatText-Italic'),
        url('../fonts/RedHatText/RedHatText-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RedHatText/RedHatText-Italic.woff2') format('woff2'),
        url('../fonts/RedHatText/RedHatText-Italic.woff') format('woff'),
        url('../fonts/RedHatText/RedHatText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('../fonts/RedHatText/RedHatText-Regular.eot');
    src: local('Red Hat Text'), local('RedHatText-Regular'),
        url('../fonts/RedHatText/RedHatText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RedHatText/RedHatText-Regular.woff2') format('woff2'),
        url('../fonts/RedHatText/RedHatText-Regular.woff') format('woff'),
        url('../fonts/RedHatText/RedHatText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}